.main-search {
  width: 85%;
  margin: 0 auto;
  font-family: 'Roboto';
  position: relative;
}
main {
  overflow: hidden;
}

.search-wrapper {
  display: flex;
  color: #f6f6f6;
}

.search-input {
  margin-top: 2rem;
  position: relative;
}

.input-wrapper2 {
  display: flex;
  align-items: center;
  width: 45%;
}
.first-search,
.second-search {
  background: #3c413f;
  box-shadow: inset -1px -1px 0px rgba(241, 241, 245, 0.2);
  padding: 1em 0em 1em 4em;
  border: none;
  flex-grow: 1;
}

.first-search {
  border-radius: 10px 0px 0px 10px;
  color: #f6f6f6;
}
.second-search {
  color: #b5b5be;
}

.search-wrapper button {
  width: 10%;
  background: #ffd369;
  color: #3c413f;
  border-radius: 0px 10px 10px 0px;
  border: none;
  font-weight: 600;
}

.icon-wrapper1,
.icon-wrapper2 {
  position: absolute;
  font-size: 1.2em;
  color: #ffd369;
  margin-left: 1.1em;
}

.main-container {
  display: flex;
  margin-top: 3rem;
  justify-content: space-between;
}

.aside-container {
  width: 23%;
}

.results-container {
  width: 73%;
}

.newsLetter-container {
  background: #44444f;
  padding: 1.5em;
  font-size: 0.875rem;
  border-radius: 0.625rem;
}
.newsLetter-container h6 {
  font-weight: 800;
  font-size: 0.9rem;
}

.newsLetter-container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.newsLetter-container p {
  width: 90%;
}

.email-input {
  position: relative;
}

.write-email {
  background: #ffffff;
  border-radius: 10px;
  padding: 0.7em;
  border: none;
  width: 100%;
  font-size: 1rem;
}

.icon-container {
  font-size: 1.75rem;
  color: black;
  position: absolute;
  top: 20%;
  right: 3%;
}

.email-wrapper button {
  background: #ffd369;
  color: #3c413f;
  border-radius: 0.5em;
  border: none;
  font-weight: 600;
  padding: 0.3em 1.25em;
  margin-top: 1em;
}

.email-wrapper {
  margin-top: 1em;
}

.aside-flex-container {
  display: flex;
  flex-direction: column;
  background-color: rgba(36, 36, 36, 255);
}

.Category-title,
.price-title {
  font-weight: 600;
  margin-bottom: 1.5rem;
}

.arrow-icon {
  font-weight: 600;
  font-size: 1rem;
  position: absolute;
  top: 1%;
  right: 0%;
}

.price-title {
  font-weight: 600;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.arrow-price {
  font-weight: 600;
  font-size: 1rem;
}

.categories-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  margin-top: 2rem;
}

.checkbox-pc {
  position: relative;
  font-size: 0.9rem;
}

.checkbox-margin {
  position: absolute;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  letter-spacing: 0.1px;

  color: #f6f6f6;
}

.checkbox-input {
  display: none;
}

.custom-checkbox::after {
  content: '✔';
  font-size: 14px '';
  position: absolute;
  top: 43%;
  left: 4%;
  transform: translate(-50%, -50%);
  visibility: hidden;
  color: white;
}

.checkbox-input:checked + label .custom-checkbox::after {
  visibility: visible;
}

.custom-checkbox {
  display: inline-block;
  width: 20px;
  height: 20px;
  background-color: #242424;
  border: 1px solid #3c413f;
  margin-right: 10px;
  transition: background-color 0.3s ease;
}

.checkbox-input:checked + label .custom-checkbox {
  background-color: #3dd598;
  visibility: visible;
}

.square-23 {
  font-size: 0.625rem;
  border-radius: 5px;
  position: absolute;
  background-color: #f6f6f6;
  right: 0%;
  padding: 0.35em 0.5em;
  color: black;
  top: -12%;
  border: none;
}

.categories-checkbox {
  margin-bottom: 1.2em;
}

.web-title {
  font-weight: 600;
  margin-bottom: 1.5rem;
  position: relative;
}

.arrowUp-icon.website-icon {
  font-weight: 600;
  font-size: 1rem;
  position: absolute;
  top: 15%;
  right: 0%;
}
.arrowUp-icon.marque-icon {
  font-weight: 600;
  font-size: 1rem;
  position: absolute;
  top: 1%;
  right: 0%;
}

.flex-results-1 {
  flex: 0 0 32%;
  background: #3c413f;
  border-radius: 0.625rem;
  color: white;
  margin-bottom: 2em;
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  padding: 1rem 1.2rem;
}

.flex-results-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.showing-laptops-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1.5em;
  position: relative;
}

.showing-laptops-container h2 {
  flex: 0 0 62%;
  margin-left: 1rem;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 36px;
  /* identical to box height, or 150% */
  letter-spacing: 0.1px;

  color: #f6f6f6;
}

.sort-container {
  display: flex;
  align-items: center;
  gap: 10px;
  color: #696974;
  font-size: 0.9rem;
}

.sort-container p {
  color: #92929d;
  text-align: right;
  font-family: Roboto;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.00625rem;
}

.laptop-value {
  color: #44444f;
}

.laptop-icon {
  color: #92929d;
  font-size: 1.2rem;
}

.icon-container-results {
  display: flex;
  justify-content: space-between;
}

.icon-container-results img {
  width: 5.625rem;
}

.laptop-name-container {
  display: flex;
  gap: 1em;
}

.laptop-name-container p {
  color: #f6f6f6;
  font-size: 1rem;
  font-family: Poppins;
  font-weight: 600;
  letter-spacing: 0.00625rem;
}

.laptop-name-container svg {
  font-size: 2rem;
  color: #3dd598;
}
.laptop-info {
  margin-bottom: 0.5rem;
  overflow: hidden;
  color: #fffcf3;
  text-overflow: ellipsis;
  whitespace: nowrap;
  font-family: Roboto;
  letter-spacing: 0.00625rem;
  font-size: 0.8rem;
}

.laptop-category-container {
  display: flex;
  gap: 0.5rem;
  position: relative;
}

.laptop-category-container p {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 10px;
  text-align: center;

  color: rgba(255, 255, 255, 0.8);

  padding: 0.3rem 0.7rem;
  border-radius: 5px;
  background: rgba(241, 241, 245, 0.1);
}

.marque-stock-container {
  display: flex;
  gap: 0.5em;
  color: #fff;
  font-size: 0.875rem;
  font-family: Roboto;
  letter-spacing: 0.00625rem;
  margin-bottom: 0.3rem;
}

.marque-stock-container p:first-child,
span {
  color: #fff2d2;
  font-size: 0.875rem;
  font-family: Roboto;
  font-weight: 500;
  letter-spacing: 0.00625rem;
  align-self: self-start;
}

.marque-stock-container span {
  color: #fff2d2;
  font-weight: 400;
  font-size: 0.4rem;
  align-self: center;
}

.laptop-info-button {
  width: 8.875rem;
  height: 2.375rem;
  flex-shrink: 0;
  border-radius: 10px;
  background: #ffd369;
  border: none;
  color: #0d120e;
  text-align: center;
  font-size: 0.75rem;
  font-family: Poppins;
  font-weight: 600;
  cursor: pointer;
}

.laptop-info-button:hover {
  background: #ffecb3;
}
.laptop-info-button:active {
  background: #ffe6a6;
}

.sort-dropdown {
  position: relative;
  display: inline-block;
}

.sort-select {
  color: #44444f;
  font-family: Roboto;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.00625rem;
  background-color: #242424;
  border: none;
  appearance: none;
  margin-right: 2rem;
  -webkit-appearance: none;
  -moz-appearance: none;
}
.sort-select p {
  color: #92929d;
  text-align: right;
  font-family: Roboto;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.00625rem;
}

.custom-arrow-icon {
  position: absolute;
  right: 0%;
  top: 46%;
  transform: translateY(-50%);
  pointer-events: none;
  color: #92929d;
  font-size: 1.5rem;
}

.object-1 {
  position: absolute;
  width: 92.22025rem;
  height: 29.06363rem;
  transform: rotate(41.714deg);
  background-image: linear-gradient(
    155deg,
    #e7a162 3.65%,
    #3b6d47 6.25%,
    #f0d981 47.4%,
    #d3a082 100%
  );
  opacity: 0.1;
  filter: blur(103px);
  top: 300%;
  left: 86%;
}

.object-2 {
  position: absolute;
  left: 0;
  bottom: -62%;
}

.object-3 {
  position: absolute;
  left: 32%;
  top: 20%;
  z-index: -1;
}

.first-line,
.second-line,
.third-line,
.fourth-line {
  position: absolute;
  z-index: -1;
}

.first-line {
  left: 65%;
}

.second-line {
  left: 70%;
}

.third-line {
  left: 76%;
}

.fourth-line {
  left: 82%;
}
.line-1,
.line-2,
.line-3,
.line-4 {
  position: absolute;
  z-index: -1;
}

.line-1 {
  top: -190%;
  left: -9%;
}
.line-2 {
  top: -190%;
  left: -7%;
}

.line-3 {
  top: -190%;
  left: -5%;
}

.line-4 {
  position: absolute;
  top: -190%;
  left: -3%;
}

.in-stock {
  width: 44px;
  height: 41px;
}

.hors-stock {
  width: 44px;
  height: 41px;
}

@media screen and (max-width: 1500px) {
  .object-3 {
    display: none;
  }
}

@media screen and (max-width: 1300px) {
  .flex-results-1 {
    flex: 0 0 48%;
    background: #3c413f;
    border-radius: 0.8em;
    padding: 1.3em;
    color: white;
    margin-bottom: 1.5em;
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
  }
  .marque-stock-container p:first-child,
  span {
    align-self: center;
  }

  .footer-section-1 p,
  .footer-section-3 p {
    font-size: 0.7rem;
  }

  .custom-checkbox::after {
    left: 4.7%;
  }
}

@media screen and (max-width: 1000px) {
  .first-line,
  .second-line,
  .third-line,
  .fourth-line,
  .line-1,
  .line-2,
  .line-3,
  .line-4,
  .object-2 {
    display: none;
  }
  .input-wrapper2 {
    width: 40%;
    font-size: 0.9em;
  }

  .custom-checkbox::after {
    left: 3.5%;
  }

  .search-wrapper button {
    width: 20%;
  }

  .arrow-icon {
    top: 2%;
  }

  .main-container {
    flex-direction: column;
  }
  .newsLetter-container {
    display: none;
  }
  .aside-flex-container {
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 1.5em;
  }

  .categories-container {
    margin-top: 0;
  }
  .aside-container {
    width: 100%;
  }

  .results-container {
    width: 100%;
  }

  .categories-container {
    width: 40%;
  }
  .price-choice-container {
    width: 40%;
  }
  .web-marque-container {
    display: none;
  }

  .aside-flex-container {
    margin-left: 1.2rem;
  }
}

@media screen and (max-width: 700px) {
  .marque-stock-container p:first-child,
  span {
    align-self: center;
  }

  .main-search {
    width: 93%;
  }

  .custom-checkbox::after {
    left: 5%;
  }

  .input-wrapper2 {
    font-size: 0.8em;
  }
  .showing-laptops-container h2 {
    font-size: 16px;
  }

  .sort-select {
    font-size: 0.8rem;
  }

  .sort-container p {
    font-size: 0.9rem;
  }

  .aside-flex-container {
    flex-direction: column;
    justify-content: space-around;
    margin-bottom: 1.5em;
  }
  .main-container {
    flex-direction: row;
  }

  .categories-container {
    width: 100%;
  }
  .price-choice-container {
    width: 100%;
  }

  .aside-container {
    width: 35%;
  }

  .results-container {
    width: 62%;
  }

  .sort-container p {
    font-size: 0.8rem;
  }

  .flex-results-container {
    display: block;
  }

  .showing-laptops-container h2 {
    width: 100%;
    flex: 0 0 50%;
  }

  .showing-laptops-container {
    margin-bottom: 1rem;
  }

  .checkbox-pc {
    position: relative;
    position: relative;
    font-size: 0.85rem;
  }
  .checkbox-margin {
    position: absolute;
    left: 15%;
    font-size: 0.8rem;
  }

  .showing-laptops-container h2 {
    margin-left: 0rem;
  }
  .aside-container {
    margin-top: 0.6rem;
    margin-left: -1rem;
  }
}

@media screen and (max-width: 602px) {
  .checkbox-margin {
    font-size: 0.7rem;
  }

  .main-container {
    flex-direction: column;
    margin-top: 2.5em;
  }

  .aside-flex-container {
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 1.5em;
  }

  categories-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    margin-top: 0;
  }
  .aside-container {
    width: 100%;
  }

  .results-container {
    width: 100%;
  }

  .categories-container {
    width: 40%;
  }
  .price-choice-container {
    width: 40%;
  }
  .web-marque-container {
    display: none;
  }
  .first-search,
  .second-search {
    box-shadow: inset -1px -1px 0px rgba(241, 241, 245, 0.2);
    padding: 1em 0em 1em 3em;
    border: none;
    flex-grow: 1;
    font-size: 0.7rem;
  }

  .search-wrapper button {
    font-size: 0.7rem;
    width: 14%;
  }
  .input-wrapper2 {
    width: 43%;
  }
  .laptop-info {
    width: 80%;
  }
}

@media screen and (max-width: 462px) {
  .categories-container {
    width: 45%;
  }
  .price-choice-container {
    width: 45%;
  }
  .checkbox-pc {
    font-size: 0.65rem;
  }
  .checkbox-margin {
    font-size: 0.65rem;
  }
}
